* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    
}

.calc{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    
    height: 500px;
    width: 400px;
}
.button{
    background-color: red;
    height: 100px;
    width: 100px;
}
.display{
    height: 100px;
    width: 300px;
}
.block{
    display: flex;
    flex-flow: row wrap;
}

.opp{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}